.aboutImg {
    width: 95%;
    margin: 20px;
    border: 2px solid black;
}

.aboutRow {
    background-color: rgba($color: #FFFFFF, $alpha: 0.56);
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 7em;
    margin-right: 7em;
    text-align: center;
}

.aboutCol {
    text-align: left;
}

.aboutParagraph {
    font-size: 0.9em;
    letter-spacing: 0.3px;
}