h1 {
    text-align: center;
    color: #005d6a;
}

h2 {
    margin-top: 30px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #007e90;
    font-weight: bold;
}

h3 {
    margin-top: 20px;
    font-size: 1.3em;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: white;
}

h4 {
    margin-top: 50px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

h5 {
    margin-top: 80px;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}


p {
    line-height: 1.7em;
    font-size: 1em;
}

.GOT {
    font-size: 0.9em;
}