* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}


.scroll {
    text-align: center;
    padding: 1em 1em 0;
    overflow-y: scroll;
    height: calc(100vh - 57px);
    scroll-snap-type: y mandatory;
}

section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    height: 100vh;
    scroll-snap-align: start;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 17em 0 17em;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: lightgray;
}

section:first-of-type {
    scroll-margin: 150px;
    border-radius: 10px;
    border-top: 2px solid white;
}

.RowB {
    text-align: left;
}

.btn-primary {
    margin: 20px 10px;
    display: inline;
    min-width: 150px;
    background-color: #005d6a;
    border: 2px solid white;
}

.btn-primary:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}


.weblink {
    background: #f3c088;
    color: #005d6a;
    font-weight: bold;
}


section .btn-primary {
    display: block;
    margin-top: 15px;
}

section.a {
    margin-bottom: 0;
    height: 100vh;
}

.scrollRow {
    text-align: left;
    height: 100vh;
    color: lightgrey;
}

.scrollRowA {
    text-align: center;
}

.scrollRowB {
    text-align: left;
    margin-top: 50px;
    color: lightgrey;
}

.mainImg {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.mainImgGOT {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 80%;
}


.screenshot {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
}

.screenshot2 {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}